<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular-Material Users</span>
  </mat-toolbar>

  <mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
    <a class="sidenav-item" mat-list-item [routerLink]="'/welcome'">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a class="sidenav-item" mat-list-item [routerLink]="'/users'">
      <mat-icon>group</mat-icon>
      <span>Users</span>
    </a>

    <a class="sidenav-item" mat-list-item [routerLink]="'/users/add'">
       <mat-icon>person_add</mat-icon>
       <span>Add Users</span>
    </a>
		</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
    <div style="width: 100%;">
        <router-outlet></router-outlet>
    </div>
	</div>

</mat-sidenav-container>
</p>
