table {
  width: 100%;
}

.btn-spacer {
  margin-left: 10px;
}

.wait {
  background-color: yellow ;
  text-align: center;
}

.noRecord {
  font-weight: bold;
  font-size: medium;
  color: red;
}

tr, td {
  display: flex;
  justify-content: center;
}

